div.container {
    max-width: 1100px;
    margin: auto;
}

.main-middle-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.main-middle-wrapper h1 {
    letter-spacing: 2px;
    margin: 150px auto;
    display: inline-block;
    background-color: #4f6079;
    color: #fff;
    border: none;
    font-size: 2em;
    padding:  1em 0.8em;
    border-radius: 2px;
}

.main-middle-wrapper h2 {
    text-shadow: 1px 1px 2px #333;
    color: #fff;
    margin: 0;
    padding: 0 0 50px 0;
}

.main-middle-wrapper a {
    color: #c0d9fd;
}

.main-middle-wrapper a:hover {
    color: #9fc7ff;
}


.main-middle-wrapper span {
    white-space: nowrap;
}

.main-overview {
    background-color: #4f6079;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.main-overview-item {
    display: inline-block;
    height: 180px;
    width: 150px;
    margin: 15px 30px;
    line-height: 50px;
    color: #fff;
    white-space: nowrap;
}

.main-overview-icon {
    height: 150px;
    width: 150px;
    line-height: 150px;
    background-color: #fff;
    font-size: 70px;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.main-overview-last-two-items {
    display: inline-block; 
    white-space: nowrap;
}

.main-overview-item:hover .main-overview-icon {
    background-color: #4f6079;
}

.main-overview-item i {
    color: #637595;
    transition: transform 0.3s, color 0.3s;
}

.main-overview-item:hover i {
    transform: rotate(360deg);
    color: #fff;
  }

.main-prior {
    background: url(bg.jpg);
    background-size: cover;
}

.main-breakdown {
    font-size: 1.2em;
}

.main-breakdown span {
    display: inline-block;
    border-bottom: 3px solid #4f6079;
}


.main-leftright {
	padding: 100px 30px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    max-width: 1920px;
}

.main-leftright:nth-child(even) {
    background-color: #f5f8ff;
	flex-direction: row-reverse;
}

.main-leftright img {
    max-height: 360px;
    max-width: 100%;
    margin: 30px;
}

.main-leftright .button {
    background-color: #637595;
    border: 2px solid #637595;
    color: #fff;
    padding: 0.3em 0.6em;
    margin: 0.5em 0;
    display: inline-block;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    border-radius: 2px;
}

.main-leftright .button:hover {
    background-color: #fff;
    border-color: #4f6079;
    color: #4f6079; 
}

.footer {
    height: 90px;
    line-height: 90px;
}

.footer .right {
    padding-right: 30px;
}

.mitchellcooper {
    background-color: #fff;
    text-transform: uppercase;
    padding: 8px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 2px;
}

.mitchellcooper:hover {
    background-color: rgb(127, 255, 0);
    color: #00873B;
}

@media (max-width: 1100px) {
    .main-leftright, .main-leftright:nth-child(even) {
		flex-direction: column;
    }
    
    .main-leftright:nth-child(even) > img {
		flex-direction: column-reverse;
		margin-bottom: 50px;
	}

	.main-leftright-content {
		margin-bottom: 50px;
	}

	.main-leftright > * {
		width: initial;
	}

	p {
		max-width: 900px;
	}
}

@media (max-width: 850px) {
    .header, .footer {
        height: auto !important;
    }

    .footer {
        text-align: center;
    }

    .header .left, .header .right, .footer .left, .footer .right {
        float: none;
        clear: both;
        text-align: center;
    }

    .navigation li {
        float: none;
        margin: 25px 0;
    }

    .navigation li a {
        display: block;
        background-color: #fff;
        color: #4f6079;
        text-shadow: none;
        border-color: #4f6079;
        border-radius: 2px;
    }

    .main-middle-wrapper {
        clear: both;
    }

    .main-middle-wrapper h1 {
        margin: 50px auto;
    }
}

@media (max-width: 500px) {
    .main-overview-item {
        display: block;
        width: auto !important;
        height: auto !important;
    }

    .main-overview-icon {
        width: 250px;
        height: 250px;
        line-height: 250px;
        font-size: 90px;
        margin: auto;
    }

    .main-overview-last-two-items {
        white-space: normal;
    }
}
