body {
    font-family: 'Open Sans', 'Helvetia Neue', Helvetica, Calibri, Arial, Sans, sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
}

a,
.q-main a,
a.q-link-other,
a.q-link-internal,
a.q-link-external,
a.q-link-category {
    color: #194695;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover,
.q-main a:hover,
a.q-link-other:hover,
a.q-link-internal:hover,
a.q-link-external:hover,
a.q-link-category:hover {
    color: #223f70;
    text-decoration: none;
    transition: color 0.2s;
}

a img {
    border: none;
}

.header {
    height: 60px;
    color: #fff;
    background-color: #4f6079;
}

.main .header {
    height: 90px;
    background-color: transparent;
    text-shadow: 1px 1px 2px #333;
}

.header .left, .footer .left {
    float: left;
    font-size: 40px;
    line-height: 60px;
    margin: 0 25px;
    font-family: 'Kalam', cursive;
}

.main .header .left {
    font-size: 50px;
    line-height: 90px;
}

.header .right, .footer .right {
    float: right;
}

.navigation {
    list-style-type: none;
    color: #fff;
    float: right;
    margin: 18px 0;
}

.navigation li {
    float: left;
}

.navigation li a {
    font-size: 1.1em;
    margin-right: 15px;
    text-transform: lowercase;
    border-bottom: 2px solid transparent;
    padding: 8px 10px;
    color: #fff;
    border-radius: 2px 2px 0 0; /* not bottom because on main page the underline */
    transition: background-color 0.2s, border-color 0.2s;
}

.main .navigation li a {
    border-color: #fff;
}

.navigation li a:hover {
    background-color: #637595;
    color: #fff;
    border-color: #fff;
    border-radius: 2px; /* apply to underline also */
}

.main .navigation li a:hover {
    background-color: #fff;
    color: #4f6079;
    border-color: #4f6079;
    text-shadow: none;
}



#container {
    width: 970px;
    width: calc(100% - 150px);
    max-width: 1300px;
    min-width: 850px;
    margin: 0 auto 50px auto;
}

#content {
    margin-top: 30px;
    padding: 15px;
}