body {
    font-family: 'Helvetia Neue', Helvetica, Calibri, Arial, Sans, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

a img {
    border: none;
}

#container {
    width: 970px;
    width: calc(100% - 150px);
    max-width: 1000px;
    min-width: 850px;
    margin: 0 auto 50px auto;
}

#content {
    margin-top: 10px;
    padding: 15px;
}

a,
.q-main a,
a.q-link-other,
a.q-link-internal,
a.q-link-external,
a.q-link-category {
    color: #194695;
    text-decoration: none;
}

a:hover,
.q-main a:hover,
a.q-link-other:hover,
a.q-link-internal:hover,
a.q-link-external:hover,
a.q-link-category:hover {
    color: #194695;
    text-decoration: underline;
}

header.header {
    height: 90px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    background-color: #4f6079;
}

.header .left a {
    color: #fff;
}

.header .left a:hover {
    text-decoration: none;
}

.header .left, .footer .left {
    float: left;
    font-size: 50px;
    line-height: 90px;
    margin: 0 25px;
    font-family: 'Kalam', cursive;
}

.header .right, .footer .right {
    float: right;
}

ul.main-page-navigation {
    list-style-type: none;
}

ul.main-page-navigation li {
    float: left;
}

ul.main-page-navigation li a {
    font-size: 1.1em;
    margin-right: 15px;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
    padding: 8px 10px 6px 10px;
    /* font-weight: bold; */
    color: #fff;
    transition: background-color 0.2s, border-color 0.2s;
}

ul.main-page-navigation li a:hover {
    background-color: #fff;
    color: #4f6079;
    text-shadow: none;
    border-color: #4f6079;
}

div.container {
    max-width: 1100px;
    margin: auto;
}

.main-middle-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.main-middle-wrapper h1 {
    letter-spacing: 2px;
    margin: 150px auto;
    display: inline-block;
    background-color: #4f6079;
    color: #fff;
    border: none;
    font-size: 2em;
    padding:  1em 0.8em;
}

.main-middle-wrapper h2 {
    text-shadow: 1px 1px 2px #333;
    color: #fff;
    margin: 0;
    padding: 0 0 50px 0;
}

.main-middle-wrapper a {
    color: #c0d9fd;
}

.main-middle-wrapper a:hover {
    color: #9fc7ff;
}


.main-middle-wrapper span {
    white-space: nowrap;
}

.main-overview {
    background-color: #4f6079;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.main-overview-item {
    display: inline-block;
    height: 180px;
    width: 150px;
    margin: 15px 30px;
    line-height: 50px;
    color: #fff;
    white-space: nowrap;
}

.main-overview-icon {
    height: 150px;
    width: 150px;
    line-height: 150px;
    background-color: #fff;
    font-size: 70px;
    transition: background-color 0.3s;
}

.main-overview-item:hover .main-overview-icon {
    background-color: #4f6079;
}

.main-overview-item i {
    color: #637595;
    transition: transform 0.3s, color 0.3s;
}

.main-overview-item:hover i {
    transform: rotate(360deg);
    color: #fff;
  }

.main-prior {
    background: url(bg.jpg);
    background-size: cover;
}

.main-breakdown {
    font-size: 1.2em;
}

.main-breakdown span {
    display: inline-block;
    border-bottom: 3px solid #4f6079;
}


.main-leftright {
	padding: 100px 30px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    max-width: 1920px;
}

.main-leftright:nth-child(even) {
    background-color: #f5f8ff;
	flex-direction: row-reverse;
}

.main-leftright img {
    max-height: 380px;
    margin: 30px;
}

.main-leftright .button {
    background-color: #637595;
    border: 2px solid #637595;
    color: #fff;
    padding: 0.3em 0.6em;
    margin: 0.5em 0;
    display: inline-block;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    border-radius: 2px;
}

.main-leftright .button:hover {
    background-color: #fff;
    border-color: #4f6079;
    color: #4f6079; 
}

.footer {
    height: 90px;
    line-height: 90px;
}

.footer .right {
    padding-right: 30px;
}

.mitchellcooper {
    background-color: #fff;
    text-transform: uppercase;
    padding: 8px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 2px;
}

.mitchellcooper:hover {
    background-color: rgb(127, 255, 0);
    color: #00873B;
}

body.main {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
}

body.main a {
    text-decoration: none;
    color: #194695;
    transition: color 0.2s;
}

body.main header.header {
    background-color: transparent;
}